<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/index.css" type="text/css">
    <meta charset="utf-8">
    <title>About me</title>


</head>

<body class="container">

    <a href="home">Home</a> | <a href="projects">My Projects</a> | <a href="Contact">Contact</a>

    <h1>About Me!</h1>

    <div class="row1">
        <div class="col-left">
            <img src="https://roost.nbcuni.com/bin/viewasset.html/content/dam/Peacock/Landing-Pages/2-0-design/the-office/cast-the-office-jim-halpert.jpg/_jcr_content/renditions/original.JPEG?downsize=1200:*&output-format=webp&output-quality=70"
                alt="">
            <h2>Jimothy Halpert</h2>
            <h3>"-Bears, Beet, Battlestar Galactica"</h3>
        </div>
        <p>I began working at Dunder Mifflin Scranton as a mid-level paper salesman in the late 1990s after graduating from
            college. Known for my charm, wit, humor and people skills, I formed long-lasting business relationships with
            dozens of businesses and people across Lackawanna County. In addition to my sales duties, i also served as
            Assistant Regional Manager to former Regional Manager Michael Scott, and later, as Co-Regional Manager with
            Michael Scott. During the initial months of the Sabre-Dunder Mifflin merger, I was integral in the search
            for a new regional manager that resulted in the hiring of now-former CEO Robert California.
            Born and raised in Scranton, I enjoys cycling, basketball, playing ping pong, eating soft-shell crab, and
            playing pranks on my friends, family and co-workers. After a long courtship, I married Pam Beesly, the former
            receptionist, sales representative and office administrator at Dunder Mifflin Scranton. Pam and I now have two
            children, Cecelia and Phillip.
            As an avid sports fan, I amicably parted ways with Dunder Mifflin to launch Austin, TX-based sports marketing
            agency Athlead with former Dunder Mifflin Warehouse Foreman and Marketing Director Darryl Philbin.</p>
    </div>


</body>

</html>