<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/projects.css" type="text/css">
    <meta charset="utf-8">
    <title>Survey</title>


</head>

<body class="container">
    <a href="home">Home</a>|<a href="projects">My Projects</a>|<a href="Contact">Contact</a>

    <h1>My Projects</h1>

    <div class="box">
        <div class="project">
            <img src="https://images.unsplash.com/photo-1566241477600-ac026ad43874?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1446&q=80" alt="">
            <div class="col-right">
                <p>Project 1</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sequi porro quae et maiores numquam, amet,
                    nisi provident iste quisquam quasi ipsa ea? Impedit quasi accusamus maxime dolorem suscipit. Nobis.</p>
            </div>
        </div>

        <div class="project">
            <img src="https://images.unsplash.com/photo-1566241477600-ac026ad43874?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1446&q=80" alt="">
            <div class="col-right">
                <p>Project 2</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sequi porro quae et maiores numquam, amet,
                    nisi provident iste quisquam quasi ipsa ea? Impedit quasi accusamus maxime dolorem suscipit. Nobis.</p>
            </div>
        </div>

        <div class="project">
            <img src="https://images.unsplash.com/photo-1566241477600-ac026ad43874?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1446&q=80" alt="">
            <div class="col-right">
                <p>Project 3</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sequi porro quae et maiores numquam, amet,
                    nisi provident iste quisquam quasi ipsa ea? Impedit quasi accusamus maxime dolorem suscipit. Nobis.</p>
            </div>
        </div>

        <div class="project">
            <img src="https://images.unsplash.com/photo-1566241477600-ac026ad43874?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1446&q=80" alt="">
            <div class="col-right">
                <p>Project 4</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sequi porro quae et maiores numquam, amet,
                    nisi provident iste quisquam quasi ipsa ea? Impedit quasi accusamus maxime dolorem suscipit. Nobis.</p>
            </div>
        </div>

        <div class="project">
            <img src="https://images.unsplash.com/photo-1566241477600-ac026ad43874?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1446&q=80" alt="">
            <div class="col-right">
                <p>Project 5</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sequi porro quae et maiores numquam, amet,
                    nisi provident iste quisquam quasi ipsa ea? Impedit quasi accusamus maxime dolorem suscipit. Nobis.</p>
            </div>
        </div>
        


    </div>







</body>

</html>